button {
  box-shadow: 2px 2px grey;
}

.col {
  padding: 0;
  width: 20vw;
  height: auto;
  font-size: small;
}

.row {
  align-items: start;
}

article {
  margin: auto;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  height: 150px;
}

.card {
  height: 350px;
  margin: 1px;
}