/* ALL PAGES START */
body {
  font-family: sans-serif;
  color: black;
  background-color: #b3b3b3;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
footer {
  color: white;
  background-color: #181818;
  text-align: center;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
.no-bullets {
  list-style-type: none;
}
.no-decor {
  text-decoration: none;
}

.width-max {
  width: 100%;
}

#banner-img {
  height: 28vw;
  width: 100%;
}

nav a:hover {
  background-color: gold;
}

/* ALL PAGES END */

/* CUSTOM BOOTSTRAP CSS */
.border-dashed {
  border-style: dashed !important;
}
.border-dotted {
  border-style: dotted !important;
}
/* CUSTOM BOOTSTRAP CSS */
