$body-bg: #b3b3b3;

@mixin textShadow {
  text-shadow: 2px 2px rgb(94, 94, 94);
}

.textShadow {
  @include textShadow;
}

#contactMain {
  background-color: $body-bg;
  section {
    form {
      div {
        margin: 5px;
        justify-content: space-between;
        label {
          text-align: left;
        }
        input {
          width: 70%;
        }
        .ratingInput {
          width: auto;
        }
      }
    }
  }
}
