@mixin boxShadow {
  box-shadow: 2px 2px grey;
}

#shopMain {
  #sectionTea {
    .row {
      .col {
        font-size: small;
        article {
          margin: 1px;
          width: 100%;
          height: 400px;
          align-items: center;
          img {
            max-width: 100%;
            height: 70%;
          }
          .card-body {
            height: 30%;
          }
        }
      }
    }
  }

  #sectionCart {
    // #sectionCartTitle {}
    #sectionCartArea {
      div {
        background-color: tan;
        padding: 5px;
        margin-bottom: 5px;
        button {
          width: 100%;
        }
      }
      h4 {
        text-align: center;
      }
    }

    button {
      @include boxShadow;
    }
  }
}
