// CUSTOM COLORS
$gold: gold;

$body-bg: #b3b3b3;
$body-color: black;
$footer-bg: #181818;
$footer-color: rgba(255, 255, 255, 1);
$sitemap-bg: #404040;

// IMAGES
$bannerImage2: url("../assets/images/banner2.png");
$bg-image: url("../assets/images/bgImage.png");

// CUSTOM FONTS
$primaryFont: "edosz";
$secondaryFont: sans-serif;

@font-face {
  font-family: "edosz";
  src: url("../assets/fonts/edosz.ttf");
}

@mixin background {
  background-image: $bg-image;
  background-size: 70%;
}
@mixin article-btn-animation {
  transform: scale(1);
  transition: transform 1s;

  &:hover {
    transform: scale(1.3);
    transition: transform 2s;
  }
}

// ALL PAGES START

body {
  @include background;
  color: $body-color;
  font-family: $secondaryFont;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;

  header {
    nav {
      a {
        font-family: $primaryFont;
        &:hover {
          background-color: $gold;
        }
      }
      Link {
        font-family: $primaryFont;
        &:hover {
          background-color: $gold;
        }
      }
    }
    .bannerImage2 {
      background-image: $bannerImage2;
      background-size: 100% 28vw;
      background-repeat: no-repeat;
    }
    #banner-img {
      height: 28vw;
      width: 100%;
    }
  }

  h1,
  h2,
  h3 {
    font-family: $primaryFont;
  }
}

footer {
  color: $footer-color;
  background-color: $footer-bg;
  text-align: center;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.no-bullets {
  list-style-type: none;
}
.no-decor {
  text-decoration: none;
}

.w100 {
  width: 100%;
}

// ALL PAGES END

// INDEX START
#siteMapGroup {
  background-color: $footer-bg;
  text-align: center;
  opacity: 0.9;
  .list-group-item {
    width: 30%;
    background-color: $sitemap-bg;
  }
  .list-group {
    font-weight: bold;
    align-items: center;
  }
}
.cardButton {
  @include article-btn-animation;
}
// INDEX END

// CUSTOM BOOTSTRAP CSS START
.border-dashed {
  border-style: dashed !important;
}
.border-dotted {
  border-style: dotted !important;
}
// CUSTOM BOOTSTRAP CSS END
